.beard-wrap
  padding 0 20px

.beard-wrap .breadcrumb
  font-size 14px

.crumb-warp
  nav
    height 32px
    line-height 32px
    background-color #80cbc4

.crumb-warp .crumb-bg
  background-color rgba(0,0,0,.4)