<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>LakeCloud For VIPME | Born For Static Services</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- materialize css资源 start -->
    <link href="lib/materialize/mfont.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="lib/materialize/materialize.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="lib/materialize/style.min.css"> -->
    <link rel="stylesheet" type="text/css" href="lib/materialize/plugins/perfect-scrollbar/perfect-scrollbar.css">
    <!-- materialize css资源 end -->
    <link rel="stylesheet" type="text/css" href="styl/index.styl">

    <style type="text/css">
        html, body, #page-main {
            height: 100%;
        }
    </style>
</head>
<body>
<!-- Start Page Loading -->
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<!-- End Page Loading -->
<div id="page-main" style="height: 100%; position: relative;"></div>
</body>
<footer>
    <link rel="stylesheet" type="text/css" href="styl/base.styl">
    <link rel="stylesheet" type="text/css" href="styl/animate.styl">
    <link href="lib/font-awesome/font-awesome.css" rel="stylesheet">
    <script src="lib/jquery-1.12.0.js"></script>
    <script src="lib/vue.js"></script>
    <script src="lib/scrat.js"></script>
    <script src="lib/jquery.validate.min.js"></script>
    <script type="text/javascript" src="lib/underscore/underscore-min.js"></script>

    <!-- materialize js资源 start -->
    <script type="text/javascript" src="lib/materialize/materialize.js"></script>
    <script type="text/javascript" src="lib/materialize/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script type="text/javascript" src="lib/materialize/plugins.min.js"></script>
    <!-- materialize js资源 end -->


    <script>
        materialize();
        require.config(__FRAMEWORK_CONFIG__);
        require.async(['boot'], function (boot) {
            boot();
        });
    </script>
</footer>
</html>
