
nav.top-nav {
  height: 122px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none
}

nav.top-nav a.page-title {
  line-height: 122px;
  font-size: 48px
}

nav ul li.no-hover:hover {
  background: none
}

.side-nav a {
  line-height: 42px;
  height: 42px
}

.side-nav.leftside-navigation .collapsible-body li.active {
  background-color: rgba(0,0,0,0.04)
}

.side-nav.fixed.leftside-navigation .collapsible-body li.active {
  background-color: rgba(0,0,0,0.04)
}

.side-nav .collapsible-body li a {
  margin: 0 1rem 0 3rem
}

ul.side-nav.leftside-navigation {
  top: 64px;
  overflow: hidden
}

ul.side-nav.leftside-navigation hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #e0e0e0;
  margin: 1em 0;
  padding: 0
}

ul.side-nav.leftside-navigation li {
  line-height: 44px
}

ul.side-nav.leftside-navigation li:hover {
  background-color: rgba(0,0,0,0.04)
}

ul.side-nav.leftside-navigation li.active {
  background-color: rgba(0,0,0,0.04)
}

ul.side-nav.leftside-navigation li a {
  font-size: 14px;
  font-weight: 400
}

ul.side-nav.leftside-navigation li.user-details {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 15px;
  padding: 15px 0 0 15px
}

ul.side-nav.leftside-navigation li.user-details #profile-dropdown a {
  padding: 8px 15px
}

ul.side-nav.leftside-navigation .profile-btn {
  margin: 0;
  text-transform: capitalize;
  padding: 0;
  font-size: 15px
}

ul.side-nav.leftside-navigation ul.collapsible-accordion {
  background-color: #fff
}

ul.side-nav li {
  padding: 0
}

ul.side-nav .collapsible-header {
  margin: 0
}

#slide-out li a i {
  line-height: inherit;
  width: 2rem;
  font-size: 1.6rem;
  display: block;
  float: left;
  text-align: center;
  margin-right: 1rem
}

#slide-out ul.side-nav li {
  padding: 0 !important
}

.side-nav
  width 200px

.side-nav a{
  color:  #004d40;
}

ul.side-nav.leftside-navigation li.active>a {
  color:  #00897b ;
}

.nav-show
  left 0px
  height 951px

#slide-out
  background-color rgba(255,255,255,.8)
